@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ranga:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #0093FD;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}
.logo-font {
  font-family: "Aclonica", sans-serif;
 
}

.logo-font-ven {
  font-family: "Ranga", cursive;

}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.aboutCard1 {
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
}

.aboutCard2 {
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
}

.aboutCard3 {
  border-top-left-radius: 150px;
  border-bottom-right-radius: 150px;
}
