@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.aboutCard1 {
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
}

.aboutCard2 {
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
}

.aboutCard3 {
  border-top-left-radius: 150px;
  border-bottom-right-radius: 150px;
}
